In [1]:
#import depencies
import pandas as pd
import numpy

In [2]:
# read the csv file 
df_citibike_rides_mar = pd.read_csv("Resources/JC-202303-citibike-tripdata.csv")
df_citibike_rides_mar.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [3]:
df_citibike_rides_mar.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
63067,BF0032DA4A305161,classic_bike,2023-03-19 16:25:24,2023-03-19 16:33:20,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,member
63068,32172F9BEF8D56A2,classic_bike,2023-03-22 16:14:15,2023-03-22 16:20:28,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63069,6FCF0C7C1E254341,electric_bike,2023-03-19 02:16:02,2023-03-19 02:21:15,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63070,34DFBEB02424B55E,electric_bike,2023-03-30 20:09:24,2023-03-30 20:15:08,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual
63071,A235AD010540ACA2,classic_bike,2023-03-17 17:53:28,2023-03-17 17:59:43,Madison St & 1 St,HB402,Columbus Park - Clinton St & 9 St,HB501,40.73879,-74.0393,40.748161,-74.032453,casual

In [4]:
# read the csv file 
df_citibike_rides_jan = pd.read_csv("Resources/JC-202301-citibike-tripdata.csv")
df_citibike_rides_jan.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [5]:
df_citibike_rides_jan.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
56070,17CD2F4ABD4F6785,classic_bike,2023-01-08 02:16:19,2023-01-08 02:34:28,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Brunswick & 6th,JC081,40.736982,-74.027781,40.726012,-74.050389,member
56071,D75D12846E6838D0,electric_bike,2023-01-21 15:32:18,2023-01-21 15:44:17,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Brunswick & 6th,JC081,40.736982,-74.027781,40.726012,-74.050389,member
56072,36387397177CAA80,electric_bike,2023-01-29 14:01:15,2023-01-29 14:12:12,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Brunswick & 6th,JC081,40.736982,-74.027781,40.726012,-74.050389,member
56073,B66278F45420CFA0,classic_bike,2023-01-30 08:28:41,2023-01-30 08:30:23,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737072,-74.027805,40.735938,-74.030305,member
56074,230153A8D1F2D5F7,classic_bike,2023-01-28 17:53:21,2023-01-28 17:55:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.736982,-74.027781,40.735938,-74.030305,member

In [6]:
# read the csv file 
df_citibike_rides_jun = pd.read_csv("Resources/JC-202306-citibike-tripdata.csv")
df_citibike_rides_jun.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [7]:
df_citibike_rides_jun.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
97018,2C69F8EF2A1BDD90,classic_bike,2023-06-30 19:41:00,2023-06-30 23:07:31,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,casual
97019,43E592256BC287BB,classic_bike,2023-06-20 18:55:02,2023-06-20 19:01:47,Washington St,JC098,Southwest Park - Jackson St & Observer Hwy,HB401,40.724273,-74.035498,40.737551,-74.041664,member
97020,4C3A7521689C560C,electric_bike,2023-06-22 19:24:22,2023-06-22 19:30:03,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747907,-74.038412,40.751867,-74.030377,casual
97021,9AAA8F2E630456E7,classic_bike,2023-06-30 13:34:09,2023-06-30 13:38:34,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747971,-74.038413,40.751867,-74.030377,casual
97022,064CE90800E9C21F,classic_bike,2023-06-13 17:23:31,2023-06-13 17:28:01,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.748000,-74.038375,40.751867,-74.030377,casual

In [8]:
df_citibike_rides_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56075 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             56075 non-null  object
 1   rideable_type       56075 non-null  object
 2   started_at          56075 non-null  object
 3   ended_at            56075 non-null  object
 4   start_station_name  56075 non-null  object
 5   start_station_id    56075 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           56075 non-null  float64
 9   start_lng           56075 non-null  float64
 10  end_lat             56023 non-null  float64
 11  end_lng             56023 non-null  float64
 12  member_casual       56075 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.6+ MB

In [9]:
df_citibike_rides_jan.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      202
end_station_id        202
start_lat               0
start_lng               0
end_lat                52
end_lng                52
member_casual           0
dtype: int64

In [10]:
df_citibike_rides_jan.dropna(inplace = True)

In [11]:
df_citibike_rides_jan.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [12]:
df_citibike_rides_jan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55873 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             55873 non-null  object
 1   rideable_type       55873 non-null  object
 2   started_at          55873 non-null  object
 3   ended_at            55873 non-null  object
 4   start_station_name  55873 non-null  object
 5   start_station_id    55873 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           55873 non-null  float64
 9   start_lng           55873 non-null  float64
 10  end_lat             55873 non-null  float64
 11  end_lng             55873 non-null  float64
 12  member_casual       55873 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.0+ MB

In [13]:
df_citibike_rides_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97023 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97023 non-null  object
 1   rideable_type       97023 non-null  object
 2   started_at          97023 non-null  object
 3   ended_at            97023 non-null  object
 4   start_station_name  96968 non-null  object
 5   start_station_id    96968 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           97023 non-null  float64
 9   start_lng           97023 non-null  float64
 10  end_lat             96935 non-null  float64
 11  end_lng             96935 non-null  float64
 12  member_casual       97023 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.6+ MB

In [14]:
df_citibike_rides_jun.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name     55
start_station_id       55
end_station_name      361
end_station_id        361
start_lat               0
start_lng               0
end_lat                88
end_lng                88
member_casual           0
dtype: int64

In [15]:
df_citibike_rides_jun.dropna(inplace = True)

In [16]:
df_citibike_rides_jun.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [17]:
df_citibike_rides_jun.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96662 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96662 non-null  object
 1   rideable_type       96662 non-null  object
 2   started_at          96662 non-null  object
 3   ended_at            96662 non-null  object
 4   start_station_name  96662 non-null  object
 5   start_station_id    96662 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           96662 non-null  float64
 9   start_lng           96662 non-null  float64
 10  end_lat             96662 non-null  float64
 11  end_lng             96662 non-null  float64
 12  member_casual       96662 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.3+ MB

In [20]:
df_citibike_rides_jun.to_csv("Output/june_rides.csv")

In [21]:
df_citibike_rides_jan.to_csv("Output/jan_rides.csv")